In [1]:
import pandas as pd
import numpy as np

### 1. Exploring the dataser

1.1 Load the Dataset

In [3]:
df = pd.read_csv("Dataecommerce.csv")

In [5]:
## Check first 5 rows of the dataset
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [6]:
## check last 5 rows of the dataset 
df.tail()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [7]:
## Check type of the dataset
df.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [8]:
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [9]:
df.shape

(10000, 14)

In [10]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [11]:
df[['IP Address', 'Language', 'Purchase Price']]

           IP Address Language  Purchase Price
0     149.146.147.205       el           98.14
1        15.160.41.51       fr           70.73
2      132.207.160.22       de            0.95
3        30.250.74.19       es           78.04
4        24.140.33.94       es           77.82
...               ...      ...             ...
9995    29.73.197.114       it           82.21
9996   121.133.168.51       pt           25.63
9997    156.210.0.254       el           83.98
9998     55.78.26.143       es           38.84
9999  176.119.198.199       el           67.59

[10000 rows x 3 columns]

In [12]:
df['Purchase Price'].min()

np.float64(0.0)

In [13]:
df['Purchase Price'].max()

np.float64(99.99)

In [14]:
df['Purchase Price'].describe()

count    10000.000000
mean        50.347302
std         29.015836
min          0.000000
25%         25.150000
50%         50.505000
75%         75.770000
max         99.990000
Name: Purchase Price, dtype: float64

In [15]:
df[df['Language']=='fr']['Language']

1       fr
19      fr
53      fr
76      fr
82      fr
        ..
9941    fr
9947    fr
9951    fr
9977    fr
9980    fr
Name: Language, Length: 1097, dtype: object

In [16]:
df['Language'].value_counts()

Language
de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: count, dtype: int64

In [18]:
df_job_engineer = df[df['Job'].str.contains('Engineer', case = False
                         )]

In [19]:
df_job_engineer['Job']

1                         Drilling engineer
3                         Drilling engineer
50                      Mechanical engineer
55      Engineer, broadcasting (operations)
60                   Engineer, agricultural
                       ...
9948                    Structural engineer
9952                       Engineer, energy
9970                    Electrical engineer
9977                    Biomedical engineer
9996                        Energy engineer
Name: Job, Length: 984, dtype: object

In [20]:
df['Job']

0       Scientist, product/process development
1                            Drilling engineer
2                     Customer service manager
3                            Drilling engineer
4                                  Fine artist
                         ...
9995                                Printmaker
9996                           Energy engineer
9997                        Veterinary surgeon
9998                  Local government officer
9999                    Embryologist, clinical
Name: Job, Length: 10000, dtype: object

In [21]:
df[df['Job'].str.contains('manager')]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9877,"1661 Candice Mountains\nSouth Kimside, FL 7978...",94 zb,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5312 ...,"Smith, Boyd and Robinson",4923493460394565,03/22,592,American Express,wilsonmaria@wilkins.com,Pension scheme manager,153.124.188.27,it,39.85
9914,"0272 Alice Tunnel\nMartinberg, ND 43468-6047",14 oJ,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_5)...,Lopez LLC,3112835432522652,05/26,569,American Express,rgreen@hotmail.com,Insurance account manager,131.205.197.77,es,47.18
9929,"069 Beck Springs\nNorth Juanmouth, VI 76081",66 UX,PM,Opera/9.37.(X11; Linux i686; en-US) Presto/2.9...,Wyatt Ltd,4933268552739135,05/22,354,Diners Club / Carte Blanche,jasoncox@haynes-matthews.info,Risk manager,158.66.242.11,pt,7.82
9964,"28035 Stewart Landing Suite 399\nWellsland, TX...",14 Ey,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows 98;...,"Dalton, Sherman and Scott",4878905328284394,09/16,602,JCB 16 digit,zmorris@valencia.net,Location manager,19.236.171.98,it,76.95
9982,"18044 Mcintosh Row Apt. 122\nLake Jennifer, NC...",77 uq,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_0...,Chen LLC,210040992311995,09/18,79,JCB 16 digit,heather24@gmail.com,Restaurant manager,93.254.124.2,it,56.25

In [22]:
df['Job'].str.contains('manager').sum()

np.int64(785)

In [23]:
#Find The Email of the person with the following IP Address: 132.207.160.22
df[df['IP Address'] =='132.207.160.22']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

In [24]:
#How many People have Mastercard as their Credit Card Provider and made a purchase above 50?
df['Credit Card'].nunique()

10000

In [25]:
sum(df['Purchase Price']>50)

5052

In [26]:
df['Credit Card']>50

0       True
1       True
2       True
3       True
4       True
        ...
9995    True
9996    True
9997    True
9998    True
9999    True
Name: Credit Card, Length: 10000, dtype: bool

In [27]:
df['Language'].value_counts(ascending=True)

Language
zh    1059
it    1086
es    1095
fr    1097
en    1098
pt    1118
el    1137
de    1155
ru    1155
Name: count, dtype: int64

In [28]:
df.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [29]:
df[df['Credit Card']== 4664825258997302].T

                                                               9992
Address           885 Allen Mountains Apt. 230\nWallhaven, LA 16995
Lot                                                           40 vH
AM or PM                                                         PM
Browser Info      Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...
Company                                                   Wells Ltd
Credit Card                                        4664825258997302
CC Exp Date                                                   10/20
CC Security Code                                                431
CC Provider                                                Discover
Email                                             bberry@wright.net
Job                                                    Set designer
IP Address                                            174.173.51.32
Language                                                         de
Purchase Price                                                67.96

In [30]:
df.iloc[9992]

Address             885 Allen Mountains Apt. 230\nWallhaven, LA 16995
Lot                                                             40 vH
AM or PM                                                           PM
Browser Info        Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...
Company                                                     Wells Ltd
Credit Card                                          4664825258997302
CC Exp Date                                                     10/20
CC Security Code                                                  431
CC Provider                                                  Discover
Email                                               bberry@wright.net
Job                                                      Set designer
IP Address                                              174.173.51.32
Language                                                           de
Purchase Price                                                  67.96
Name: 9992, dtype: object

In [31]:
#How many people purchase during the AM and how many people purchase during PM?
df['AM or PM'].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [32]:
#How many people have a credit card that expires in 2020?
df_cc_exp_Year= df['CC Exp Date'].str.split('/').str[-1]

In [33]:

df['CC Exp Date'].str.contains('20').sum()

np.int64(988)

In [34]:
df_cc_exp_Year.value_counts()

CC Exp Date
25    1033
23    1010
21    1006
22     996
18     995
19     995
24     992
20     988
17     955
26     654
16     376
Name: count, dtype: int64

In [35]:
#What are the top 5 most popular email providers (e.g. gmail.com, yahoo.com, etc...)
df['Email'].str.split('@').str[1].value_counts().head()

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64